<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tracker{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/tailwind.config.js"></script>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body class="h-full bg-sidebar text-neutral-900 text-sm antialiased">
    <div class="flex h-full">
        {% block body %}{% endblock %}
    </div>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/navigator.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
